<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="testing_world1"/>
    <arg name="ardupilot_path" default="$HOME/drdo_ws/src/ardupilot"/>
    <arg name="ardupilot_gazebo_path" default="~/drdo_ws/src/ardupilot_gazebo"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>

    <include file="$(find interiit21)/launch/world.launch">
        <arg name="world_name" default="$(arg world_name)"/>
        <arg name="ardupilot_gazebo_path" default="$(arg ardupilot_gazebo_path)"/>
        <arg name="gui" default="$(arg gui)"/>
        <arg name="verbose" default="$(arg verbose)"/>
    </include>

    <node pkg="explorer" type="sim_vehicle.sh" name="sim_vehicle_node"/>

</launch>
