<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="quadrotor" />

    <arg name="world_name" default="testing_world1"/>
    <arg name="ardupilot_path" default="$HOME/drdo_ws/src/ardupilot"/>
    <arg name="ardupilot_gazebo_path" default="~/drdo_ws/src/ardupilot_gazebo"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>

    <include file="$(find interiit21)/launch/world.launch">
        <arg name="world_name" default="$(arg world_name)"/>
        <arg name="ardupilot_gazebo_path" default="$(arg ardupilot_gazebo_path)"/>
        <arg name="gui" default="$(arg gui)"/>
        <arg name="verbose" default="$(arg verbose)"/>
    </include>

    <node pkg="explorer" type="sim_vehicle.sh" name="sim_vehicle_node" args="$(arg ardupilot_path)"/>

    <group ns="$(arg quad_name)">
        <node pkg="box_detector" type="box_detector_node" name="box_detector_node" output="screen">
            <rosparam file="$(find box_detector)/cfg/params.yaml" />
            <remap from="global_coord"    to="box_detector/global_coord" />
            <remap from="centre"    to="box_detector/centre_coord" />
            <remap from="odom"    to="/mavros/local_position/odom" />
            <remap from="image_raw" to="/camera/color/image_raw" />
        </node>
        <!-- <node pkg="explorer" type="explorer_node" name="explorer_node" output="screen">
            <rosparam file="$(find explorer)/cfg/params.yaml" />
            <remap from="pose"    to="/quadrotor/box_detector_node/global_coord" />
            <remap from="odom"    to="/mavros/local_position/odom" />
            <remap from="centre_coord"    to="/quadrotor/box_detector_node/centre" />
            <remap from="setpoint"    to="/mavros/setpoint_position/local" />
        </node> -->
    </group>

</launch>
