  <launch>
    <arg name="robot_name" default="iris" />
    <arg name="voxel_size" default="0.20" />
    <arg name="voxels_per_side" default="16" />
    <arg name="world_frame" default="map" />

      <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
        <remap from="pointcloud" to="/depth_camera/depth/points"/>
        <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
        <remap from="voxblox_node/tsdf_map_out" to="tsdf_map" />

        <rosparam file="$(find active_planner)/cfg/voxblox_params.yaml"     command="load"/>

      </node>

  </launch>