<?xml version="1.0"?>
<launch>
 
    <node pkg="box_detector" type="box_detector_node" name="box_detector_node" output="screen">
        <rosparam file="$(find box_detector)/cfg/params.yaml" />
        <remap from = "image_raw"    to="/camera/color/image_raw" />
        <remap from = "odom" to ="/mavros/local_position/odom" />
        <remap from = "pose" to="/mavros/setpoint_position/local" />
    </node>

</launch>
