<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="quadrotor" />

    <include file="$(find interiit21)/launch/interiit_world1.launch"></include>

    <group ns="$(arg quad_name)">
        <node pkg="box_detector" type="box_detector_node" name="box_detector_node" output="screen">
            <rosparam file="$(find box_detector)/cfg/params.yaml" />
            <remap from="global_coord"    to="box_detector/global_coord" />
            <remap from="centre"    to="box_detector/centre_coord" />
            <remap from="odom"    to="/mavros/local_position/odom" />
        </node>
        <!-- <node pkg="pose_estimator" type="pose_estimator_node" name="pose_estimator_node" output="screen">
            <rosparam file="$(find pose_estimator)/config/params.yaml" /> -->
            <!-- <remap from="pose"    to="pose_estiator/estimated_coord" /> -->
            <!-- <remap from="centre"    to="box_detector/centre_coord" />
            <remap from="odom"    to="/mavros/local_position/odom" />
        </node> -->
        <!-- <node pkg="explorer" type="explorer_node" name="explorer_node" output="screen">
            <rosparam file="$(find explorer)/cfg/params.yaml" />
            <remap from="image_raw"    to="/quadrotor/camera/image_raw" />
        </node> -->
    </group>


</launch>
